@import "margins.less";

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: lightgrey; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, lightgrey, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, lightgrey, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, lightgrey, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, lightgrey, grey); /* Standard syntax */
}
